---
import { AllMovieQueryResults } from "../../../sanity.types.ts"
import "../../styles/tailwind.css";
import Layout from '../../layouts/Layout.astro';
import RichText from '../../components/RichText.astro'
import { getCollection, getEntry } from 'astro:content';
export const prerender = true;
export async function getStaticPaths() {
  const entries = await getCollection("movies");
  return entries.map((entry) =>  ({
    params: { slug: entry.id },
    props: entry.data
  }));
}

type Props = AllMovieQueryResults[number];

const {
  title, castMembers: cast, overview
} = Astro.props as Props;

---

<Layout>
   <h1>{title}</h1>
   <RichText content={overview} />
   <h2>Cast</h2>
   <ul>
     {cast.map((actor) => (
       <li>{actor.characterName}</li>
     ))}
   </ul>
</Layout>
